


.search-form{
    outline: 1px green solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
    background: linear-gradient(90deg, rgba(0,22,255,1) 0%, rgba(255,249,31,1) 50%, rgba(0,5,255,1) 100%);
}

input {
    width:50%;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 10px;
    border-color:  rgba(0,22,255,1);
}

button {
    border-radius: 5px;
    border: none;
    width: 200px;

    background-color:  rgba(0,22,255,1);
    color: rgba(255,249,31,1) ;
    padding: 5px 0;

    font-size: 20px;
    font-weight: bold;

    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.gallery {

    display: flex;
    flex-wrap: wrap;

    gap:30px;

    align-items: center;
    justify-content: center;
 
   
}

.photo-card{


    display: flex;

    flex-direction: column;
    padding: 5px;
   
    box-shadow: 13px -9px 17px -6px rgba(0,0,0,0.68);
   
   

}.info{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

 
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.info-item{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
}

.photo-card__img{


    width: auto;
    margin-bottom: 10px;
}